<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trường Cao Đẳng SÀI GÒN GIA ĐỊNH{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {# Đảm bảo các file CSS quan trọng được tải trước #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_faculty/base_layout.css') }}"> {# File CSS mới cho bố cục base #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base_faculty/sidebar.css') }}"> {# Sidebar CSS #}


    {% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="/static/images/logoSGGD.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brands.min.css"
        integrity="sha512-58P9Hy7II0YeXLv+iFiLCv1rtLW47xmiRpC1oFafeKNShp8V5bKV/ciVtYqbk2YfxXQMt58DjNfkXFOn62xE+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {# Các file CSS cụ thể cho từng trang/module khác #}

    {% endblock %}

    {% block page_styles %}{% endblock %}
</head>

<body>

    <div class="layout-wrapper"> {# Bọc toàn bộ layout #}
        
        <div class="sidebar" id="sidebar"> {# Thêm ID cho sidebar để dễ thao tác JS #}
            <div class="sidebar-header">
                <img style="width: 35px; height: 35px;" src="/static/images/logoSGGD.png"/>&nbsp;<span>SGC</span>
            </div>

           <div class="sidebar-search-bar">
                <input type="text" placeholder="Tìm kiếm...">
                <i class="fas fa-search search-icon"></i> {# THÊM class search-icon #}
            </div>

            <div class="sidebar-user-actions">
                <div class="icon-wrapper">
                    <a href="/gv/notifications/" class="notification-icon" style="color: inherit; text-decoration: none;">
                        <i class="fas fa-bell"></i>&nbsp;&nbsp;<span>Thông báo</span>
                     
                        <span id="notificationCountBadge" class="badge">2</span> {# Số lượng thông báo cứng để minh họa #}
                    </a>
                </div> 
            </div>
           <div class="sidebar-user-info">
                <a href="/gv/profile_faculty/" class="sidebar-user-avatar" id="sidebarUserAvatarLink"> {# Đã đổi ID cho rõ ràng hơn #}
                    <img src="" alt="User Avatar" id="sidebarUserAvatar"> {# Đã đổi ID cho rõ ràng hơn #}
                </a>
                <a id="sidebarUserNameLinkText" href="/gv/profile_faculty/" style="color: inherit; text-decoration: none;"> {# Đã đổi ID cho rõ ràng hơn #}
                    <span id="sidebarUserName"></span> {# Đã đổi ID cho rõ ràng hơn, để trống để JS điền vào #}
                </a>
            </div>
            <h2>Dashboard</h2>
            <ul>
                <li><a href="{{ url_for('faculty.faculty_home') }}"><i class="fa-solid fa-house"></i> <span>Trang chủ</span></a></li>
                <li><a href="{{ url_for('faculty.registration_faculty') }}" ><i class="fa-solid fa-pen-to-square"></i><span>Xem lượt ĐKTV</span></a></li>
                <li><a href="{{ url_for('faculty.diemso') }}"><i class="fas fa-book"></i> <span>Nhập/Sửa điểm</span></a></li>
                <li><a href="{{ url_for('faculty.tkb') }}"><i class="fas fa-users"></i> <span>Thời khóa biểu</span></a></li>
                <li><a href="{{ url_for('faculty.dangkynhaphoc') }}"><i class="fas fa-users"></i> <span>Đăng ký nhập học</span></a></li>
                <li><a href="{{ url_for('faculty.tintuc') }}"><i class="fa-solid fa-newspaper"></i> <span>Quản lý tin tức</span></a></li>
                <!-- <li><a href="#"><i class="fas fa-concierge-bell"></i> <span>Dịch vụ</span></a></li> -->
            </ul>
            {# Cần chỉnh các mục menu để phù hợp với mẫu #}
            <h2>Cài đặt</h2>
            <ul>
                <li><a href="#"><i class="fas fa-cog"></i> <span>Cài đặt</span></a></li>
            </ul>


            {# Phần này có thể chuyển thành nút Đăng xuất ở cuối sidebar #}
            <div class="sidebar-footer">
                <a href="#" id="sidebarLogoutBtn"><i class="fas fa-sign-out-alt"></i> <span>Đăng xuất</span></a>
            </div>
        </div>

        <div class="main-content-wrapper"> {# Đổi tên từ main-content-area để dễ phân biệt, đây là wrapper cho header và main content #}
            {# LOẠI BỎ DÒNG NÀY: {% include 'faculty/header_faculty.html' %} #}

            <main class="content-and-footer-wrapper"> {# Đặt main và footer vào đây #}
                <div class="content-area">
                    {% block content %}
                    {# Nội dung cụ thể của từng trang sẽ được đặt ở đây #}
                    {% endblock %}
                </div>

            </main>
        </div>
    </div>

    {# Đặt các script ở cuối body để cải thiện tốc độ tải trang #}
 
    <script src="{{ url_for('static', filename='js/navbar_active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notifications_badge.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dangnhap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/faculty/sidebar_active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script> {# Đảm bảo đã thêm logout.js #}
    <script src="{{ url_for('static', filename='js/faculty/mobile_sidebar.js') }}"></script> {# THÊM DÒNG NÀY CHO JS XỬ LÝ MOBILE #}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    {% block scripts %}
    {# Các script riêng của từng trang có thể được thêm ở đây #}
    {% endblock %}
</body>

</html>