<style>
    
</style>
<div class="new-header-container">
    <div class="header-logo">
       <img style="width: 35px; height: 35px;" src="/static//images/logoSGGD.png"/>&nbsp;<span>SGC</span>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Tìm kiếm ở đây">
        <i class="fas fa-search"></i>
    </div>

    <div class="user-actions">
        
        <div class="icon-wrapper">
            <a href="/sggd/gv/manage/notifications/" class="notification-icon">
                <i class="fas fa-bell"></i>
                <span id="notificationCountBadge" class="badge">2</span> {# Số lượng thông báo cứng để minh họa #}
            </a>
        </div>
        

        <div class="user-info">
            <a id="headerUserNameLinkText" href="/sggd/gv/manage/profile_faculty/" style="color: inherit; text-decoration: none;">
                <span id="headerUserName"></span>
            </a>
            <a href="/sggd/gv/manage/profile_faculty/" class="user-avatar" id="headerUserAvatarLink">
                <img src="" alt="User Avatar" id="headerUserAvatar">
            </a>
            
        </div>
    </div>
</div>