{% extends "page_sinh_vien/base_sv.html" %}

{% block content %}
{# Các định nghĩa @font-face nên được đặt trong file CSS toàn cục hoặc trong thẻ <head> của base_sv.html để tránh lặp lại #}

<section class="min-h-screen py-6 px-3 sm:py-10 sm:px-6 lg:px-8 bg-gray-50 flex items-center justify-center" style="margin-left:10% ;">
    <div class="max-w-xs sm:max-w-xl md:max-w-6xl mx-auto bg-white shadow-xl rounded-lg overflow-hidden md:flex">
        <div class="md:w-1/2 p-4 sm:p-6 flex items-center justify-center">
            <img src="{{ url_for('static', filename='images/hotro.png') }}" alt="Đăng ký giấy xác nhận vay vốn" class="rounded-lg shadow-md w-full h-auto object-cover max-w-[200px] sm:max-w-full mx-auto">
        </div>
        
        <div class="md:w-1/2 p-6 lg:p-12">
            <h2 class="text-xl sm:text-2xl lg:text-3xl font-extrabold text-gray-900 mb-4 sm:mb-6 text-center" style="font-family: font2;">Đăng Ký Giấy Xác Nhận Vay Vốn</h2>
            <div class="bg-blue-50 p-4 sm:p-6 rounded-lg shadow-inner">
                <h3 class="text-lg sm:text-xl lg:text-2xl font-bold text-blue-700 mb-4 sm:mb-6 text-center" style="font-family: font2;">BIỂU MẪU ĐĂNG KÝ</h3>
                <form id="tourForm" action="/register-tour" method="POST" class="space-y-4 sm:space-y-6">

                    <div class="form-group">
                        <label for="full_name_input" class="block text-xs sm:text-sm font-medium text-gray-700 mb-0.5 sm:mb-1">Người đại diện vay vốn (Cha/Mẹ)<span class="text-red-500">*</span></label>
                        <input type="text" id="full_name_input" name="full_name" class="mt-1 block w-full shadow-sm text-sm border-gray-300 rounded-md p-1.5 sm:p-2 focus:ring-blue-500 focus:border-blue-500 border" required placeholder="Nhập họ và tên">
                    </div>

                    <div class="form-group">
                        <label for="address_input_vayvon" class="block text-xs sm:text-sm font-medium text-gray-700 mb-0.5 sm:mb-1">Địa Chỉ người đại diện vay vốn <span class="text-red-500">*</span></label>
                        <input type="text" id="address_input_vayvon" name="address_vayvon" class="mt-1 block w-full shadow-sm text-sm border-gray-300 rounded-md p-1.5 sm:p-2 focus:ring-blue-500 focus:border-blue-500 border" required placeholder="Nhập địa chỉ liên lạc">
                    </div>

                    <div class="form-group">
                        <label for="input_vayvon" class="block text-xs sm:text-sm font-medium text-gray-700 mb-0.5 sm:mb-1">Vay vốn chính sách xã hội <span class="text-red-500">*</span></label>
                        <input type="text" id="input_vayvon" name="vayvon_chinhsach" class="mt-1 block w-full shadow-sm text-sm border-gray-300 rounded-md p-1.5 sm:p-2 focus:ring-blue-500 focus:border-blue-500 border" required placeholder="Nhập địa chỉ của ngân hàng/tổ chức xã hội cho vay">
                    </div>
                
                    <div class="form-group">
                        <label for="phone_number_input" class="block text-xs sm:text-sm font-medium text-gray-700 mb-0.5 sm:mb-1">Số điện thoại liên lạc <span class="text-red-500">*</span></label>
                        <input type="tel" id="phone_number_input" name="phone_number" class="mt-1 block w-full shadow-sm text-sm border-gray-300 rounded-md p-1.5 sm:p-2 focus:ring-blue-500 focus:border-blue-500 border" required placeholder="Nhập số điện thoại">
                    </div>
                    <div class="form-group">
                        <label for="email_input" class="block text-xs sm:text-sm font-medium text-gray-700 mb-0.5 sm:mb-1">Địa chỉ Email</label>
                        <input type="email" id="email_input" name="email" class="mt-1 block w-full shadow-sm text-sm border-gray-300 rounded-md p-1.5 sm:p-2 focus:ring-blue-500 focus:border-blue-500 border" placeholder="Nhập địa chỉ email">
                    </div>

                    <div class="form-group">
                        <label for="amount_input" class="block text-xs sm:text-sm font-medium text-gray-700 mb-0.5 sm:mb-1">Số tiền vay <span class="text-red-500">*</span></label>
                        <input type="number" id="amount_input" name="amount" class="mt-1 block w-full shadow-sm text-sm border-gray-300 rounded-md p-1.5 sm:p-2 focus:ring-blue-500 focus:border-blue-500 border" required placeholder="Nhập số tiền (Vui lòng nhập chính xác)">
                    </div>

                    <div class="form-group">
                        <label for="ship_select" class="block text-xs sm:text-sm font-medium text-gray-700 mb-0.5 sm:mb-1">Phương thức nhận <span class="text-red-500">*</span></label>
                        <select id="ship_select" name="ship" class="mt-1 block w-full pl-3 pr-10 py-1.5 sm:py-2 text-sm sm:text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 rounded-md font-bold appearance-none bg-white border" required>
                            <option value="khongship" selected>Nhận kết quả tại trường 514 LQĐ</option>
                            <option value="shiptrongnuoc">Ship trong nước VN POST (EMS)</option>
                        </select>
                    </div>

                    <div class="form-group" id="address-group">
                        <label for="address_input" class="block text-xs sm:text-sm font-medium text-gray-700 mb-0.5 sm:mb-1">Địa Chỉ Ship <span class="text-red-500">*</span></label>
                        <input type="text" id="address_input" name="address" class="mt-1 block w-full shadow-sm text-sm border-gray-300 rounded-md p-1.5 sm:p-2 focus:ring-blue-500 focus:border-blue-500 border" required placeholder="Nhập địa chỉ liên lạc">
                        <p class="text-xs text-red-600 mt-1">Phí dịch vụ ship: 24.000đ</p>
                    </div>
                    
                    <div class="flex items-start">
                        <div class="flex items-center h-4 sm:h-5">
                            <input type="checkbox" id="privacy" name="privacy" class="focus:ring-blue-500 h-3 w-3 sm:h-4 sm:w-4 text-blue-600 border-gray-300 rounded" required>
                        </div>
                        <div class="ml-2 sm:ml-3 text-xs sm:text-sm">
                            <label for="privacy" class="font-medium text-gray-700">
                                Tôi đã đọc và đồng ý cho Cao Đẳng Sài Gòn Gia Định xử lý dữ liệu cá nhân của tôi theo <a href="/private_policy" class="text-blue-600 hover:text-blue-800 underline">Chính sách bảo mật dữ liệu</a> cá nhân của chúng tôi.
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="w-full flex justify-center py-2 sm:py-3 px-3 sm:px-4 border border-transparent rounded-md shadow-sm text-base sm:text-lg font-medium text-white bg-gradient-to-r from-blue-600 to-indigo-700 hover:from-blue-700 hover:to-indigo-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition duration-300 ease-in-out">
                        Gửi thông tin
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Lấy các phần tử cần thiết
    const shipSelect = document.getElementById('ship_select');
    const addressGroup = document.getElementById('address-group');
    const addressInput = document.getElementById('address_input');

    // Hàm để kiểm tra và ẩn/hiện ô địa chỉ
    function toggleAddressField() {
        if (shipSelect.value === 'shiptrongnuoc') {
            addressGroup.style.display = 'block'; // Hiển thị ô địa chỉ
            addressInput.setAttribute('required', 'required'); // Đặt là trường bắt buộc
        } else {
            addressGroup.style.display = 'none'; // Ẩn ô địa chỉ
            addressInput.removeAttribute('required'); // Bỏ yêu cầu bắt buộc
            addressInput.value = ''; // Xóa giá trị đã nhập (tùy chọn)
        }
    }

    // Gọi hàm một lần khi tải trang để thiết lập trạng thái ban đầu
    toggleAddressField();

    // Lắng nghe sự kiện 'change' trên dropdown 'Phương thức nhận'
    shipSelect.addEventListener('change', toggleAddressField);
});
</script>

<script src="{{ url_for('static', filename='js/dangkytuvan.js') }}"></script>
{% endblock %}