<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trường Cao Đẳng SÀI GÒN GIA ĐỊNH{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="/static/images/logoSGGD.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylenganh.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/thongtintruong.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cauhoithuonggap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clb.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sv.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sansang.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/brands.min.css"
        integrity="sha512-58P9Hy7II0YeXLv+iFiLCv1rtLW47xmiRpC1oFafeKNShp8V5bKV/ciVtYqbk2YfxXQMt58DjNfkXFOn62xE+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% endblock %}


</head>

<body>

    {# Include the header section #}
    {% include 'header.html' %}

    <main>
        {% block content %}
        {# Nội dung cụ thể của từng trang sẽ được đặt ở đây #}
        {% endblock %}
    </main>


    {# Include the footer section #}
    {% include 'footer.html' %}
    

    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->

   
    
   
    <script src="{{ url_for('static', filename='js/jsbody.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jsfooter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stats-animation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/about-animation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/thongtintruong.js') }}"></script>
    <script src="{{ url_for('static', filename='js/auth_status.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cauhoithuonggap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/clb.js') }}"></script>
    <script src="{{ url_for('static', filename='js/user_visit_web.js') }}"></script>


    {% block scripts %}
    {# Các script riêng của từng trang có thể được thêm ở đây #}
    {% endblock %}
</body>

</html>