
    <div class="faq-container3">
        <div class="faq-content3">
            <div class="faq-header3">
                <p>Xin chào</p>
                <h1>CÁC CÂU HỎI THƯỜNG GẶP</h1>
            </div>

            <div class="faq-list3">
                <div class="faq-item3 active"> <div class="faq-question3">
                    Điều kiện tuyển sinh của trường là gì?
                        <span class="toggle-icon3">-</span> </div>
                    <div class="faq-answer3">
                        <p>Điều kiện tuyển sinh thường bao gồm: tốt nghiệp THPT hoặc tương đương, đủ sức khỏe để học tập. Một số ngành có thể yêu cầu thêm các điều kiện phụ (ví dụ: thi năng khiếu).</p>
                    </div>
                </div>

                <div class="faq-item3">
                    <div class="faq-question3">
                        Học phí tại Cao Đẳng Sài Gòn Gia Định khoảng bao nhiêu?
                        <span class="toggle-icon3">+</span>
                    </div>
                    <div class="faq-answer3">
                        <p>Học phí tại Cao Đẳng Sài Gòn Gia Định khá hợp lý và cạnh tranh, phù hợp với nhiều đối tượng sinh viên. Mức học phí cụ thể tùy thuộc vào từng ngành học và có thể thay đổi theo từng năm. Bạn nên liên hệ trực tiếp phòng tuyển sinh để có thông tin chính xác nhất.</p>
                    </div>
                </div>

                <div class="faq-item3">
                    <div class="faq-question3">
                        Cơ hội việc làm sau khi tốt nghiệp tại Cao Đẳng Sài Gòn Gia Định như thế nào?
                        <span class="toggle-icon3">+</span>
                    </div>
                    <div class="faq-answer3">
                        <p>
                            Trường SGD chú trọng đào tạo thực hành và liên kết chặt chẽ với các doanh nghiệp, giúp sinh viên có kinh nghiệm thực tế ngay từ khi còn đi học. Nhờ đó, sinh viên tốt nghiệp có cơ hội việc làm cao và được đánh giá tốt từ các nhà tuyển dụng.
                        </p>
                    </div>
                </div>
                <div class="faq-item3">
                    <div class="faq-question3">
                        Môi trường học tập tại Cao Đẳng Sài Gòn Gia Định có tốt không?
                        <span class="toggle-icon3">+</span>
                    </div>
                    <div class="faq-answer3">
                        <p>Cao Đẳng Sài Gòn Gia Định sở hữu cơ sở vật chất hiện đại, đội ngũ giảng viên tận tâm và giàu kinh nghiệm, cùng với các hoạt động ngoại khóa đa dạng. Điều này tạo nên một môi trường học tập năng động, thân thiện và hỗ trợ cho sự phát triển toàn diện của sinh viên.

                        </p>
                    </div>
                </div>
                
                <div class="faq-item3">
                    <div class="faq-question3">
                        Trường có chính sách học bổng hay hỗ trợ tài chính nào không?
                        <span class="toggle-icon3">+</span>
                    </div>
                    <div class="faq-answer3">
                        <p>Trường có các chương trình học bổng và hỗ trợ tài chính để hỗ trợ sinh viên trong quá trình học tập. Cụ thể, các chương trình học bổng bao gồm:

                        </p>
                    </div>
                </div>

                <div class="faq-item3">
                    <div class="faq-question3">
                        Sinh viên có được đi thực tập tại doanh nghiệp không?
                        <span class="toggle-icon3">+</span>
                    </div>
                    <div class="faq-answer3">
                        <p>Trường cung cấp cơ hội thực tập tại các doanh nghiệp đối tác, giúp sinh viên nắm bắt thực tế thị trường lao động và tích lũy kinh nghiệm thực tế. Điều này giúp sinh viên tốt nghiệp có khả năng thích ứng và có cơ hội việc làm tốt hơn.

                        </p>
                    </div>
                </div>

                <div class="faq-item3">
                    <div class="faq-question3">
                        Điều kiện để được nhận học bổng là gì?
                        <span class="toggle-icon3">+</span>
                    </div>
                    <div class="faq-answer3">
                            <p>Có, bạn hoàn toàn có thể liên thông lên Đại học sau khi tốt nghiệp Cao đẳng tại Cao Đẳng Sài Gòn Gia Định. Trường có các chương trình liên thông với nhiều trường Đại học uy tín, giúp sinh viên có thêm lựa chọn để nâng cao trình độ học vấn.</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="faq-image3">
          <a href="#form-dangky"> <img src="/static/images/bannerdk1.jpg" alt="Construction Worker"> </div>
          </a>
        </div>

 