
<body>
    <header class="header4">
        <nav class="navbar4">
            <a href="#" class="nav-item4">Tham Gia</a>
        </nav>
    </header>

    <main class="pricing-section4">
        <p class="pricing-plan-label4">Tham Gia</p>
        <h2 class="section-title4" style="font-family: font2;">PHONG TRÀO - HOẠT ĐỘNG NGOẠI KHÓA</h2>
        <p class="section-description4">Một số hoạt động phong trào và hoạt động ngoại khóa của trường được các em tích cực tham gia và ủng hộ.</p>

        <div class="pricing-cards-container4" >
            <div class="pricing-card4 basic4 fade-in-on-scroll4" style="background-image: url('/static/images/clb/clb1.jpg');">
                <h3 class="plan-name4" style="color: #fff; background-color: #003366a2; border-radius: 6px; text-align: center;">VĂN NGHỆ</h3>
                
            </div>

            <div class="pricing-card4 standard4 fade-in-on-scroll4" style="background-image: url('/static/images/clb/clb2.png');">
                <h3 class="plan-name4" style="color: #fff; background-color: #003366a2; border-radius: 6px; text-align: center;">NGOẠI KHÓA</h3>
                
            </div>

            <div class="pricing-card4 premium4 fade-in-on-scroll4" style="background-image: url('/static/images/clb/clb3.jpg');">
                <h3 class="plan-name4" style="color: #fff; background-color: #003366a2; border-radius: 6px; text-align: center;">VÕ THUẬT TỰ VỆ</h3>
               
            </div>

            <div class="pricing-card4 basic4 fade-in-on-scroll4" style="background-image: url('/static/images/clb/clb4.jpg');">
                <h3 class="plan-name4" style="color: #fff; background-color: #003366a2; border-radius: 6px; text-align: center;">THỂ THAO</h3>
               
            </div>

        </div>
    </main>

