<!-- <section class="facilities-section">
    <div class="facilities-header">
        <h2 class="facilities-title">Đăng Ký Nhập Học Ngay</h2>
    </div>
    
    <div class="facilities-grid"> -->
        <!-- Facility Image -->
        <!-- <div class="facility-item">
            <img src="{{ url_for('static', filename='images/bannerdk1.jpg') }}" alt="Cơ sở Sala" class="facility-image">
        </div> -->
        
        
        <!-- Registration Form -->
        <!-- <div class="registration-form">
            <h3 class="form-title" >ĐĂNG KÝ</h3>
            <form id="tourForm" action="/register-tour" method="POST"> -->
                

                <!-- <div class="form-group">
                    <label for="class" class="form-label">Họ Và Tên *</label>
                    <input type="text" id="class" name="class" class="form-control" required placeholder="Nhập họ và tên">
                </div> -->

                <!-- <div class="form-group">
                    <label for="phone" class="form-label">Số điện thoại *</label>
                    <input type="tel" id="phone" name="phone" class="form-control" required placeholder="Nhập số điện thoại">
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">Địa chỉ Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Nhập địa chỉ email">
                </div>


                <div class="form-group">
                    <label for="name" class="form-label">Địa Chỉ Liên Lạc *</label>
                    <input type="text" id="name" name="name" class="form-control" required placeholder="Nhập địa chỉ liên lạc">
                </div> -->

                

                <!-- <div class="form-group">
                    <label for="facility" class="form-label">Ngành Đăng Ký *</label>
                    <select id="facility" name="facility" class="form-control" required>
                        <option value="">Chọn ngành đăng ký</option>
                        <option value="KẾ TOÁN DOANH NGHIỆP">KẾ TOÁN DOANH NGHIỆP</option>
                        <option value="QUẢN TRỊ KINH DOANH">QUẢN TRỊ KINH DOANH</option>
                        <option value="TÀI CHÍNH - NGÂN HÀNG">TÀI CHÍNH - NGÂN HÀNG</option>
                        <option value="THƯƠNG MẠI ĐIỆN TỬ">THƯƠNG MẠI ĐIỆN TỬ</option>
                        <option value="LOGISTICS">LOGISTICS</option>
                        <option value="THÚ Y">THÚ Y</option>
                        <option value="CÔNG NGHỆ THÔNG TIN">CÔNG NGHỆ THÔNG TIN</option>
                        <option value="QUẢN TRỊ CƠ SỞ DỮ LIỆU">QUẢN TRỊ CƠ SỞ DỮ LIỆU</option>
                         <option value="THIẾT KẾ ĐỒ HOẠ"> THIẾT KẾ ĐỒ HOẠ </option>
                         <option value="LẬP TRÌNH MÁY TÍNH"> LẬP TRÌNH MÁY TÍNH </option>
                         <option value="CÔNG NGHỆ Ô TÔ"> CÔNG NGHỆ Ô TÔ </option>
                         <option value="CÔNG NGHỆ THỰC PHẨM"> CÔNG NGHỆ THỰC PHẨM </option>
                         <option value="DƯỢC"> DƯỢC </option>
                         <option value="ĐIỀU DƯỠNG"> ĐIỀU DƯỠNG </option>
                         <option value="Y SĨ ĐA KHOA"> Y SĨ ĐA KHOA </option>
                         <option value="KỸ THUẬT PHỤC HÌNH RĂNG ( Răng - Hàm - Mặt )"> KỸ THUẬT PHỤC HÌNH RĂNG ( Răng - Hàm - Mặt ) </option>
                         <option value="KỸ THUẬT PHỤC HỒI CHỨC NĂNG ( Vật lý trị liệu & Phục hồi chức năng )"> KỸ THUẬT PHỤC HỒI CHỨC NĂNG ( Vật lý trị liệu & Phục hồi chức năng ) </option>
                         <option value="Y HỌC CỔ TRUYỀN"> Y HỌC CỔ TRUYỀN </option>
                         <option value="DU LỊCH"> DU LỊCH </option>
                         <option value="Hướng dẫn du lịch"> Hướng dẫn du lịch </option>
                         <option value="Quản trị nhà hàng - Khách sạn"> Quản trị nhà hàng - Khách sạn </option>
                         <option value="NGÔN NGỮ ANH"> NGÔN NGỮ ANH </option>
                         <option value="LUẬT - DỊCH VỤ PHÁP LÝ"> LUẬT - DỊCH VỤ PHÁP LÝ </option>
                         <option value="SƯ PHẠM MẦM NON"> SƯ PHẠM MẦM NON </option>
                         
                         
                         
                         
                    </select>
                </div> -->

                <!-- <div class="form-group">
                    <label for="facility" class="form-label">Bạn Đã Tốt Nghiệp *</label>
                    <select id="facility" name="facility" class="form-control" required>
                        <option value="">Chọn Bạn Đã Tốt Nghiệp</option>
                        <option value="KẾ TOÁN DOANH NGHIỆP">Tốt Nghiệp THCS</option>
                        <option value="KẾ TOÁN DOANH NGHIỆP">Tốt Nghiệp THPT</option>
                        <option value="KẾ TOÁN DOANH NGHIỆP">Tốt Nghiệp Trung Cấp</option>
                        <option value="KẾ TOÁN DOANH NGHIỆP">Tốt Nghiệp Cao Đẳng</option>
                        <option value="KẾ TOÁN DOANH NGHIỆP">Tốt Nghiệp Đại Học</option>
                    </select>
                </div> -->

              
                <!-- <div class="form-check">
                    <input type="checkbox" id="privacy" name="privacy" class="form-check-input" required>
                    <label for="privacy" class="form-check-label">
                        Tôi đã đọc và đồng ý cho Cao Đẳng Sài Gòn Gia Định xử lý dữ liệu cá nhân của tôi theo Chính sách bảo mật dữ liệu cá nhân của chúng tôi.
                    </label>
                </div> -->
                <!-- <button type="submit" class="submit-btn">Gửi thông tin</button>
            </form>
        </div>
    </div>
</section> -->



<section class="facilities-section">
    <div class="facilities-header">
        <h2 class="facilities-title">Đăng Ký Tư Vấn Ngay</h2>
    </div>
    
    <div class="facilities-grid">
        <div class="facility-item">
            <img src="{{ url_for('static', filename='images/bannerdk1.jpg') }}" alt="Cơ sở Sala" class="facility-image">
        </div>
        
        <div class="registration-form" id="form-dangky">
            <h3 class="form-title">ĐĂNG KÝ TƯ VẤN</h3>
            <form id="tourForm" action="/register-tour" method="POST">
                <div class="form-group">
                    <label for="full_name_input" class="form-label">Họ Và Tên *</label>
                    <input type="text" id="full_name_input" name="full_name" class="form-control" required placeholder="Nhập họ và tên">
                </div>

                <div class="form-group">
                    <label for="phone_number_input" class="form-label">Số điện thoại *</label>
                    <input type="tel" id="phone_number_input" name="phone_number" class="form-control" required placeholder="Nhập số điện thoại">
                </div>
                <div class="form-group">
                    <label for="email_input" class="form-label">Địa chỉ Email</label>
                    <input type="email" id="email_input" name="email" class="form-control" placeholder="Nhập địa chỉ email">
                </div>

                <div class="form-group">
                    <label for="address_input" class="form-label">Địa Chỉ Liên Lạc *</label>
                    <input type="text" id="address_input" name="address" class="form-control" required placeholder="Nhập địa chỉ liên lạc">
                </div>
                
                <div class="form-group">
                    <label for="major_of_interest_select" class="form-label">Ngành Đăng Ký *</label>
                    <select id="major_of_interest_select" name="major_of_interest_id" class="form-control" required>
                        <option value="">Đang tải ngành học...</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="has_graduated_select" class="form-label">Bạn Đã Tốt Nghiệp *</label>
                    <select id="has_graduated_select" name="has_graduated" class="form-control" required>
                        <option value="">Đang tải trình độ...</option>
                    </select>
                </div>
            
                <div class="form-check">
                    <input type="checkbox" id="privacy" name="privacy" class="form-check-input" required>
                    <label for="privacy" class="form-check-label">
                        Tôi đã đọc và đồng ý cho Cao Đẳng Sài Gòn Gia Định xử lý dữ liệu cá nhân của tôi theo <a href="/private_policy">Chính sách bảo mật dữ liệu</a> cá nhân của chúng tôi.
                    </label>
                </div>
                <button type="submit" class="submit-btn">Gửi thông tin</button>
            </form>
        </div>
    </div>
</section>


