<h1 class="main-title" style="font-family: font2;font-size: 50px;">
    <span>Cao Đẳng Sài Gòn Gia Định</span>
    <span>Nâng Tầm Tri Thức, Kiến Tạo Tương Lai</span>
</h1>

<!-- Statistics Section -->
<section class="stats-section " s>
    <div class="stats-container">
        <div class="stats-content">
            <div class="stats-text">
                <div class="stat-item">
                    <h2 class="counter">21</h2>
                    <p>NĂM KINH NGHIỆM</p>
                </div>
                <p class="stats-description">
                    Trường Cao Đẳng Sài Gòn Gia Định từng bước nâng cao chất lượng đào tạo, mở rộng và hoàn thiện cơ sở
                    vật chất, không ngừng phát triển các nguồn lực để giữ vững thương hiệu là địa chỉ tin cậy trong đào
                    tạo nguồn nhân lực có chất lượng cho TP. Hồ Chí Minh và cả nước. Phấn đấu trong tương lai gần nhất
                    có đủ những điều kiện cơ bản để nâng cấp thành trường Đại học đa ngành nhằm đào tạo nguồn nhân lực
                    có chất lượng cao đáp ứng công cuộc công nghiệp hóa và hiện đại hóa đất nước..
                </p>
                <a href="#form-dangky" class="learn-more-btn" style="font-family: font2;">Tìm hiểu thêm</a>
            </div>

            <div class="stats-numbers">
                <div class="stat-box">
                    <h3 class="counter">32000</h3>
                    <p>SINH VIÊN</p>
                </div>
                <div class="stat-box">
                    <h3 class="counter">100<span class="percent-sign">%</span></h3>
                    <p>CÓ VIỆC LÀM</p>
                </div>
                <div class="stat-box">
                    <h3 class="counter">210</h3>
                    <p>GIẢNG VIÊN</p>
                </div>
            </div>
        </div>

        <div class="worker-image-container">
            <img src="/static/images/nobackground/G3.png" alt="Professional Worker" class="worker-image">
        </div>
    </div>
</section>