
<body>
    <main class="cta-section6">
        <div class="background-pattern6"></div> <div class="content-wrapper6">
            <p class="cta-tagline6">XIN CHÀO </p>
            <h1 class="cta-heading6" style="font-family: font2;">Bạn còn câu hỏi nào muốn được giải đáp?</h1>
            <p class="cta-description6">Nếu có bất cứ câu hỏi nào vui lòng ấn vào nút dưới đây để được giải đáp nhé</p>
            <button onclick="window.location.href='#form-dangky'" class="cta-button6">Đăng Ký Ngay</button>
        </div>
    </main>
