
<body>
    <main class="testimonial-section5">
        <p class="section-tagline5">Một Số Gương Mặt</p>
        <h1 class="section-heading5">SINH VIÊN SGC</h1>
        <p class="section-description5">Dưới đây là một số bạn sinh viên đã từng theo học trường <br> Cao Đẳng Sài Gòn Gia Định</p>

        <div class="testimonial-cards-container5">
            <div class="testimonial-card5">
                <p class="testimonial-text5">
                    ĐIỂM XÉT TỐT NGHIỆP THPT QUỐC GIA 2024<BR>
                    <strong style="color: rgb(176, 21, 21); font-size: 20px !important ;  ">8.85đ</strong>
                    Thành tích của em đã chứng minh chất lượng đào tạo văn hóa THPT chính quy tại trường                </p>
                <div class="client-info5">
                    <img src="/static/images/noibat/sv1.jpg" alt="Sophia Donatein" class="client-avatar5">
                    <div class="client-details5">
                        <p class="client-name5">NHÃ QUYÊN</p>
                        <p class="client-role5">KẾ TOÁN</p>
                    </div>
                </div>
            </div>
            <div class="testimonial-card5">
                <p class="testimonial-text5">
                    Tốt nghiệp Công nghệ thông tin/THPT
                    Hiện em đang học thêm ngành Dinh dưỡng tại Trường Đại học Công nghiệp
                    Thành phố Hồ Chí Minh                </p>
                <div class="client-info5">
                    <img src="/static/images/noibat/sv2.jpg" alt="Edward Kenway" class="client-avatar5">
                    <div class="client-details5">
                        <p class="client-name5">MINH THƯ</p>
                        <p class="client-role5">CÔNG NGHỆ THÔNG TIN</p>
                    </div>
                </div>
            </div>

            <div class="testimonial-card5">
                <p class="testimonial-text5">
                    Tốt nghiệp TC Y sĩ Đa khoa/THPT
                    Hiện em học ngành Y khoa (Bác sĩ đa khoa) Trường Đại học Nguyễn Tất Thành                </p>
                <div class="client-info5">
                    <img src="/static/images/noibat/sv3.jpg" alt="Edward Kenway" class="client-avatar5">
                    <div class="client-details5">
                        <p class="client-name5">ĐẠI THỐNG</p>
                        <p class="client-role5">NGÀNH Y</p>
                    </div>
                </div>
            </div>

            <div class="testimonial-card5">
                <p class="testimonial-text5">
                    Tốt nghiệp Luật - Dịch vụ pháp lý/THPT
                    Hiện em đang học Trường Đại học Công nghệ Thành phố Hồ Chí Minh                </p>
                <div class="client-info5">
                    <img src="/static/images/noibat/sv4.jpg" alt="Kenny Wagner" class="client-avatar5">
                    <div class="client-details5">
                        <p class="client-name5">TẤN NGHI</p>
                        <p class="client-role5">NGÀNH LUẬT</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
